body {
    background-color: #8E537E;
    color:#54E339;
    font-family:petit formal script;
}

h1 {
    font-family:charm;
    font-size:400%;
}
h1, h2, h3, h4, h5, h6 {
    text-align:center;
}
#hero{
    text-align:center;
}
header{ 
    text-align:center;
}

#hero, footer{
    background-color: #4B5663;
    text-align:center;
    padding:5px;
    border: 5px solid #3989E3;
}
/*Hero Section*/

#hero img{ 
    width:400px;
max-width: 100%;
}
/*Bio Section*/
#bio{
    text-align: center;
}
/*Hobbies List*/
#hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hobbies ul li{color: red;}
#hobbies ul li:nth-child(3n-1){color:rgb(251, 240, 24);}
#hobbies ul li:nth-child(3n){color:rgb(0, 225, 255)}
/*Gallery*/

#gallery{
    border:2px solid #fbf018;
    margin-bottom:3rem;
}
#gallery img{
    max-width:100%;
}
#gallery figure{
    text-align:center;
}
@media screen and (min-width: 60em){
    figure{display: grid;
    grid-template-columns: 2fr 1fr;}
    figcaption{
        display:flex;
        justify-content:center;
        align-items:center;
        font-size: 2m;
    }
    
}
/*Literature*/

#lit {
    border:2px solid rgb(0, 225, 255);
    margin-bottom:3rem;
}
#lit div{
    padding:2rem;
    max-width:40rem;
    margin: 0 auto;
}
#lit div p{
    padding: 0.3rem 0;

}
/*Dropcaps*/

#lit div p:first-letter{
    color:#fbf018;
    float:left;
    font-size:3em;



}